<div class="registration_container">
<h1>Log In</h1>
<p class="alert margin_fix"><%= alert %></p>
<%= form_for sessions_path, :url => { :action => "create" } do |f| %>
  <div class="user_form_group">
    <%= f.label :username, class: 'user_label' %><br />
    <%= f.text_field :username, class: 'user_text_field' %>
  </div>
  <div class="user_form_group">
    <%= f.label :password, class: 'user_label' %><br />
    <%= f.password_field :password, class: 'user_text_field' %>
  </div>
  <div class="user_form_group"><%= f.submit "Log In" %></div>
<% end %>
</div>