<% if current_user == comment.user %>
	<div class="message-container darker">
		
		<div class="body-container">
			<div class="image-container">
				
				<div class="image-wrapper"><img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="Avatar"></div>
				
				
			</div>		
		<div id="body-content-container">
			<b><%= comment.user.username %></b>
			<p><%= raw comment.body %></p>
			<div><span class="time-right">commented <%= get_message_time(comment.created_at) %> ago</span></div>
		</div>
		</div>
	</div>
<% else %>


	<div class="message-container">
		
		<div class="body-container">
			<div class="image-container">
				<div class="image-wrapper"><img src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="Avatar"></div>
				
				
			</div>		
		<div id="body-content-container">
			<b><%= comment.user.username %></b>
			<p><%= raw comment.body %></p>
			<div><span class="time-left">commented <%= get_message_time(comment.created_at) %> ago</span></div>
		</div>
		</div>
	</div>
<% end %>


<style>
/* Chat containers */
.message-container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
	margin: 10px auto;
	width: 90%;
}


.darker .image-container {
	float: right;
}

.darker .image-container .image-wrapper {
	padding-left: 120px;
	padding-bottom: 2px;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.message-container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.message-container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.message-container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}
</style>


