<div class="row">
<div class="col-3"></div>
  <div class="col-6">
  <h5>Editing <%= @user.username %></h5>
  <hr>
  <div class="errors">
    <% if @user.present? && @user.errors.any? %>
      <p><%= pluralize(@user.errors.count, "error") %> prevented this user from being saved:</p>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    <% end %>
  </div>

  <%= form_for @user, url: { action: :admin_update }, validate: true do |f| %>
    <div class="form-group">
      <%= f.label :username, params[:username] %>
      <%= f.text_field :username, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :first_name, params[:first_name] %>
      <%= f.text_field :first_name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :last_name, params[:last_name] %>
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :user_level %>
      <%# Show all options if logged in user is executive %>
      <% if current_user.user_level_id == EXECUTIVE_VALUE %>
        
        <%= f.select :user_level_id, UserLevel.order(:level).map { |u| [ u.level, u.id ] }, { }, { class: 'form-control' } %>
      <% elsif @user.user_level_id == EXECUTIVE_VALUE %>
        <input class="form-control" type="text" value="Executive" disabled>
      <% else %>
        <%= f.select :user_level_id, UserLevel.order(:level).where.not(level: EXECUTIVE_NAME).map { |u| [ u.level, u.id ] }, { }, { class: 'form-control' } %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :user_status %>
      <%= f.select :user_status_id, UserStatus.all.map { |s| [ s.status, s.id ] }, { }, { class: 'form-control' } %>
    </div>
    <div class="form-group">
      <%= f.submit "Save", class: 'btn btn-primary' %>
      <%= link_to 'Back', users_path, class: 'btn btn-secondary' %>
    </div>
  <% end %>
  </div><!--col-6-->
<div class="col-3"></div>
</div><!--row-->
