<h3>Users</h3>
<hr>

<div class="row">
<div class="col">
 <%= simple_form_for users_path, method: :get do |f| %>
		<%= f.text_field :userq, class: 'form-control w-25 float-left mr-2' %>
		<%= f.submit 'Search', class: 'btn btn-primary' %>
	<% end %>
</div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-sm mt-4">
  <thead>
    <tr>
      <th>Name<div class="arrow_container"><%= link_to users_path(s: 'username_asc') do %><box-icon size="14px" type='solid' name='up-arrow'></box-icon><% end %><%= link_to users_path(s: 'username_desc') do %><box-icon size="14px" type='solid' name='down-arrow'></box-icon><% end %></div></th>
      <th>Last Login<div class="arrow_container"><%= link_to users_path(s: 'last_login_asc') do %><box-icon size="14px" type='solid' name='up-arrow'></box-icon><% end %><%= link_to users_path(s: 'last_login_desc') do %><box-icon size="14px" type='solid' name='down-arrow'></box-icon><% end %></div></th>
      <th>User Level<div class="arrow_container"><%= link_to users_path(s: 'user_level_id_asc') do %><box-icon size="14px" type='solid' name='up-arrow'></box-icon><% end %><%= link_to users_path(s: 'user_level_id_desc') do %><box-icon size="14px" type='solid' name='down-arrow'></box-icon><% end %></div></th>
      <th>Status<div class="arrow_container"><%= link_to users_path(s: 'user_status_id_asc') do %><box-icon size="14px" type='solid' name='up-arrow'></box-icon><% end %><%= link_to users_path(s: 'user_status_id_desc') do %><box-icon size="14px" type='solid' name='down-arrow'></box-icon><% end %></div></th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
      <tr>
        <td><%= u.fullname %></td>
        <td>
          <% if u.last_login.nil? %>
          User has not logged in yet.
        <% else %>
          <%= u.last_login.strftime("%B %-d, %Y at %l:%M %p") %>
        <% end %>
        </td>
        <td><%= u.user_level.level %></td>
        <td class="<%= u.user_status.status == 'Active' ? 'text-success' : 'text-danger' %>" ><%=u.user_status.status%></td>
        <td><%= link_to 'Edit', edit_user_path(u), class: '' %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div><!--table-responsive-->

<%= paginate @users %>

<%= link_to 'Register New User', register_path, class: 'btn btn-primary' %>
<%= link_to 'Back', admin_path, class: 'btn btn-secondary' %>
