<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <h5>Register User</h5>
    <hr>

    <%= form_for @user, validate: true do |f| %>
    <div class="errors">
    <% if @user.present? && @user.errors.any? %>
      <p><%= pluralize(@user.errors.count, "error") %> prevented this user from being saved:</p>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    <% end %>
    </div>

      <div class="form-group">
        <%= f.label "Username (required)", params[:username] %>
        <%= f.text_field :username, class: 'form-control' %>
        <%= hidden_field(:user, :user_status_id, value: @active) %>
      </div>
      <div class="form-group">
        <%= f.label "First name (optional)", params[:first_name] %>
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label "Last name (optional)", params[:last_name] %>
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.select :user_level_id, UserLevel.order(:level).where.not(level: EXECUTIVE_NAME).map { |u| [ u.level, u.id ] }, { prompt: true }, { class: 'form-control' } %>
        <%# <%= collection_select :user, :user_level_id, UserLevel.order(:level).where.not(level: EXECUTIVE_NAME), :id, :level, { class: 'form-control', prompt: true } %> 
      </div>
      <div class="form-group">
        <%= f.label :password, params[:password] %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, params[:password_confirmation] %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.submit "Register", class: 'btn btn-primary' %>
        <button class="btn btn-secondary" type="button" onclick="history.back()">Back</button>
      </div>
    <% end %>
  <div class="col-3"></div>
  </div><!--col-6-->
</div><!--row-->

<%= console %>
