<h1>Register User</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
  <div class="error_messages">
    <h2>Form is invalid</h2>
    <ul>
      <!-- Print out any errors in the array -->
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :username, params[:username] %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :user_level_id %><br />
    <%= collection_select :user, :user_level_id, UserLevel.order(:level).where.not(level: EXECUTIVE_NAME), :id, :level, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :password, params[:password] %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, params[:password_confirmation] %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions"><%= f.submit "Register" %></div>
<% end %>

