

<div class="registration_container">
	<h2>Change Password</h2>
	<%= form_for @user, url: { action: :user_update } do |f| %>
		<div class="errors">
	<% if @user.present? && @user.errors.any? %>
		<p><%= pluralize(@user.errors.count, "error") %> prevented this user from being saved:</p>
		<ul>
		<% @user.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	<% end %>
	</div>
		<div class="user_form_group">
			<%= f.label 'New Password', params[:password], class: 'user_label' %><br />
			<%= f.password_field :password, class: 'user_text_field' %>
		</div>
		<div class="user_form_group">
			<%= f.label :password_confirmation, params[:password_confirmation], class: 'user_label' %><br />
			<%= f.password_field :password_confirmation, class: 'user_text_field' %>
		</div>
		<div class="user_form_group"><%= f.submit "Save", class: 'user_button' %></div>
	<% end %>
</div>

<% render 'snackbar' %>