<h1 class="edit_title edit_font">Edit Video</h1>

<%= form_for @video do |f| %>
  <div class='form_group'>
    <%= f.label :name, class: 'form_label' %>
    <%= f.text_field :name, class: 'text_field' %>
  </div>
	<div class='form_group'>
		<%= f.label 'Description (optional)' %>
		<%= f.text_area :description, style: "width: 959px; height: 166px;"%>
	</div>
	<div class="form_group">
		<%= f.submit 'Update' %>
	</div>
<% end %>