<h1 class="edit_title edit_font">Edit Video</h1>
<%= image_tag(@video.image.video_path.url) %>
<%= form_for @video do |f| %>
  <div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
	<div class='form-group'>
		<%= f.label 'Description (optional)' %>
		<%= f.text_area :description, class: 'form-control'%>
	</div>
	<div class="form-group">
		<%= f.submit 'Update', class: 'btn btn-primary' %>
	</div>
<% end %>