<% if @videos.present? %>
<h3>Current Videos:</h3>
<hr>
<% else %>
<h2>There are no videos here... <%= link_to 'Upload one!', new_video_path %></h2>
<% end %>
<ul>
<% @videos.each do |v| %>
  <li style="list-style:none;" class="my-2">
    <%= link_to video_path(v) do %> 
      <% if v.image.present? && v.image.video_path.present? %>
        <%= image_tag(v.image.video_path.url) %>
      <% else %>
        <%= v.name %>
      <% end %>
    <% end %>
		<%= link_to 'Edit', edit_video_path(v) %>
    <%= link_to 'Delete', video_path(v), method: :delete, data: { confirm: "Delete video?"} %>
  </li>
<% end %>
</ul>

<%= paginate @videos %>

<%= link_to 'Create', new_video_path, class: 'btn btn-primary' %>
<%= link_to 'Back', admin_path, class: 'btn btn-secondary' %>