<% if @error.nil? %>
  <h3 class="">New Video</h3>
  <hr>
  <div class="row">
  <div class="col-3"></div>
  <div class="col-6">
  <div class="errors">
  <% if @video.present? && @video.errors.any? %>
    <p><%= pluralize(@video.errors.count, "error") %> prevented this video from being uploaded:</p>
    <ul>
    <% @video.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
  </div>
  <%= form_for @video, validate: true do |f| %>
    <div class='form-group'>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= f.label 'Description (optional)' %>
      <%= f.text_area :description, class: 'form-control'%>
    </div>
    <div class='form-group'>
      <%= f.file_field :path, class: 'form-control-file' %>
      <%#= hidden_field(:video, :page_id, value: 5) %>
      <%= hidden_field(:video, :image_id, value: @default_image_path) %>
    </div>
    <div class='form-group'>
      <%= f.submit 'Upload', class: 'btn btn-primary' %>
      <%= link_to 'Back', videos_path, class: 'btn btn-secondary' %>
    </div>
  <% end %>
<% else %>
  <p><%= @error %></p>
  <p><%= link_to('Create new image.', new_image_path) %></p>
<% end %>
</div><!--col-6-->
<div class="col-3"></div>
</div><!--row-->
