<% if @root_categories.nil? %>
  <h3>There are currently no categories. <%= link_to 'Create one', new_category_path %></h3>
<% else %>
  <ul class="">
    <% @root_categories.each do |r| %>
      <li>
        <%= r.name %> <%= radio_button :page, :category_id, r.id %>
      </li>
      <% @sub_categories.each do |s| %>
        <% if r.id == s.category_id %>
          <ul>
            <li>
              <%= s.name %> <%= radio_button :page, :category_id, s.id %>
            </li>
            <% @sub_categories.each do |t| %>
              <% if s.id == t.category_id %>
                <ul>
                  <li>
                    <%= t.name %> <%= radio_button :page, :category_id, t.id %>
                  </li>
                  <% @sub_categories.each do |u| %>
                    <% if t.id == u.category_id %>
                      <ul>
                        <li>
                          <%= u.name %> <%= radio_button :page, :category_id, u.id %>
                        </li>
                      </ul>
                    <% end %>
                  <% end %>
                </ul>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% end %>