<div class="card my-3">
  <div class="card-header d-flex">
    <h5 class="my-1"><%= page.title %></h5>
    <small class="float-right text-muted ml-auto my-1">
      <%= page.updated_at.strftime("%b %-d, %Y at %l:%M %p") %>
      <% if page.global_pinned.present? %>
        <i class="fa fa-thumb-tack fa-lg ml-1" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="Pinned"></i>
      <% end %>
    </small>
  </div>
  <div class="card-body">
    <p><%= page.get_preview %></p>
    <%= link_to 'Read', page_path(page), class: 'btn btn-primary' %>
  </div>
  <div class="card-footer">
    <small class="float-left text-muted"><%= link_to page.category.name, category_path(page.category), class: 'text-decoration-none text-muted' %></small>
    <small class="float-right text-muted"><%= page.user.fullname %></small>
  </div>
</div>
