<div class="errors">
<% if @page.present? && @page.errors.any? %>
	<p><%= pluralize(@page.errors.count, "error") %> prevented this wiki from being saved:</p>
	<ul>
	<% @page.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
	</ul>
<% end %>
</div>

<%= form_for @page, validate: true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
		<div class="errors" id="title_error"></div>
  </div>
  <div class="form-group">
	<% if current_page?(action: 'new') %>
		<%= hidden_field(:page, :user_id, value: current_user.id) %>
		<%= hidden_field(:page, :page_publish_status_id, value: UNPUBLISHED) %>
	<% end %>
    <%= hidden_field(:page, :approval_status_id, value: PENDING) %>
	<%= hidden_field(:page, :last_user_edit, value: current_user.username) %>
  </div>
	
	<button type="button" id="btn_select_category" class="btn btn-gray w-100 my-2">Select Category</button>
	<%= render 'pages/page_category_select'%> <!--Render partial within form-->

	<div class="errors m-2" id="category_error"></div>
	<div id="selected_category" class="m-2 font-weight-bold"></div>
	<div class="form-group">
			<%= f.text_area :content, id: :summernote %>
	</div>
  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary float-right", data: { confirm: "Submit wiki?" } %>
  </div>
<% end %>
	<%= render 'images/image_select' %>
	<%= render 'videos/video_select' %>
	<%= render 'pdfs/pdf_select' %>
