<%= form_for @page, validate: true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
		<div class="errors" id="title_error"></div>
  </div>
  <div class="form-group">
    <%= hidden_field(:page, :user_id, value: current_user.id) %>
    <%= hidden_field(:page, :approval_status_id, value: PENDING) %>
		<%= hidden_field(:page, :last_user_edit, value: current_user.username) %>
		<%= hidden_field(:page, :page_publish_status_id, value: UNPUBLISHED) %>
  </div>
	<div class="form-group">
		<%= f.label 'Give a quick summary of what this wiki is about (optional)' %>
		<%= f.text_field :description, class: "form-control"%>
		</div>
	<div class="form-group">
		<%#= collection_select :page, :category_id, Category.order(:id).where('category_id IS NULL'), :id, :name, {prompt: true}, {id: 'root'} %>
	<button type="button" class="btn btn-secondary show-category-options">Select Category</button>
	<div class="category_select hidden">
		<div class="image_options_header">
			<h4>Choose Category</h4>
			<button type='button' class="show-category-options">x</button>
		</div>
		<%= render partial: 'category_select', locals: { is_form: true } %>
		<button type='button' class="show-category-options btn btn-primary">OK</button>
	</div>
	</div>
	<div class="errors" id="category_error"></div>
	<div class="form-group">
		<% if current_page?(action: 'new') %>
			<%= f.text_area :content, id: :summernote %>
		<% elsif current_page?(action: 'edit') %>
			<%= f.text_area :content_review, id: :summernote %>
		<% end %>
	</div>
	<div class="form_aside">
		<div class="form-group">
			<%= f.label "Wiki photo (optional)"%>
			<%= f.file_field :image, id: 'preview_upload' %>
			<img id="img_prev" src="#", class="hidden" style="width:20%; height:20%;"/>
		</div>
	</div>
  <div class="form-group">
    <%= f.submit "Submit", class: "link_button", data: { confirm: "Submit wiki?" } %>
  </div>
<% end %>
	<%= render 'images/image_select' %>

	<div class="video_options hidden clearfix">
	<h2>Insert Video</h2>
	<ul>
	<div class='radio_wrapper'>
	<% if @videos.present? %>
	<% @videos.each do |v| %>
	<li>
	
	<div class='radio_top'>
	<strong><%= v.name %></strong>
	</div>
	<%# Store video path in data for retrieval by jquery %>
	<div class='radio_bottom'>
	
	<label>
	
	<%= content_tag :input, type: 'radio', name: 'video', data: {video: Video.find(v.id).path, thumbnail: Video.find(v.id).image.video_path.url} do %>
	<% if v.image.video_path.present? %>
		<%# <div class="video_image_wrapper"> %>
		<%= image_tag(v.image.video_path.url, size: '196x111') %>
		<%# <box-icon class="video_preview_icon" size="96px" color="#656565" name='play'></box-icon>
		</div> %>
	<% elsif v.image.path.present? %>
		<%= image_tag(v.image.path.url, size: '196x111') %>
	<% end %>
	<%# '295.783x166.367' %>
	</label>
	<% end %>
	</div>
	</li>
	<% end %>
	<%= paginate @videos, params: { video: true } %>
		<div class="media_options_wrapper">
		<button type='button' id="video_button">Insert</button>
		<button type='button' class="show-video-options">Cancel</button>
		<%= link_to 'Upload', new_video_path %>
	</div>
	<% end %>
	</div>
	</ul>
</div>
