<%= javascript_pack_tag 'admin.js' %>
<h3>Administrative Tasks</h3>
<hr>

<table class="table mx-auto mt-4" style="width:0 !important;">
  <tbody>
    <tr class="row">
      <td class="admin-td admin-pdf"><%= link_to pdfs_path do %><div class="admin-item-wrapper"><h4>PDFs</h4><box-icon class="icon" color='#FFF' size="108px" type='solid' name='file-pdf'></box-icon></div><% end %></td>
      <td class="admin-td admin-image"><%= link_to images_path do %><div class="admin-item-wrapper"><h4>Images</h4><box-icon class="icon" color='#FFF' size="108px" name='images' ></box-icon></div><% end %></td>
      <td class="admin-td admin-video"><%= link_to videos_path do %><div class="admin-item-wrapper"><h4>Videos</h4><box-icon class="icon" color='#FFF' size="108px" type='solid' name='videos'></box-icon></div><% end %></td>
    <tr class="row">
      <td class="admin-td admin-category"><%= link_to categories_path do %><div class="admin-item-wrapper"><h4>Categories</h4><box-icon class='icon' size='108px' color='#FFF' type='solid' name='customize'></box-icon></div><% end %></td>
      <td class="admin-td admin-review"><%= link_to wiki_management_path do %><div class="admin-item-wrapper"><h4>Wiki Review</h4><box-icon class="icon" color='#FFF' size="108px" name='select-multiple'></box-icon></div><% end %></td>
      <td class="admin-td admin-users"><%= link_to users_path do %><div class="admin-item-wrapper"><h4>Users</h4><box-icon class="icon" color='#FFF' size="108px" type='solid' name='group'></box-icon></div><% end %></td>
    </tr>
    <tr class="row">
      <td class="admin-td admin-settings"><%= link_to review_path do %><div class="admin-item-wrapper"><h4>Settings</h4><box-icon class="icon" color='#FFF' size="108px" type='solid' name='cog'></box-icon></div><% end %></td>
      <td class="admin-td admin-license"><%= link_to review_path do %><div class="admin-item-wrapper"><h4>Licenses</h4><box-icon class="icon" color='#FFF' size="108px" name='spreadsheet'></box-icon></div><% end %></td>
      <td class="admin-td admin-back"><%= link_to root_path do %><div class="admin-item-wrapper"><h4>Back</h4><box-icon class="icon" color='#FFF' size="108px" name='arrow-back'></box-icon></div><% end %></td>
    </tr>
  </tbody>
</table>

<%= render 'snackbar' %>
