
<h2>Editing <%= @page.title %></h2>
<%= form_for @page do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content, :class => "tinymce", :rows => 30, :cols => 20 %>
  </p>

  <p>
    <%= f.submit "Save changes" %>
  </p>
<% end %>

<%= tinymce_assets %>
<%= tinymce %>
