<% if @query %>

  <h5>
    Search results for <i>"<%= @query %>"</i>
  </h5>
  <%= @filters.present? ? 'Filters:' : '' %>
  <% @filters.each do |filter| %>
    <span class="badge badge-info"><%= filter %></span>
  <% end %>
  <hr>
<% elsif @pages.present? %>
  <h3>Home</h3>
  <hr>
<% else %>
  <h3>There are currently no wikis published... <%= link_to 'Create one!', new_page_path %></h3>
<% end %>

<% if @users.count == 0 %>
  <%= render 'users/form' %>
<% end %>
<div id="pages_container">
  <div id="pages">
    <%= render @pages %>
  </div>
</div>

<% if current_user.present? %>
<div id="paginator">
  <%= paginate @pages, remote: true %>
</div> 
<% else %>
  <div class="d-flex justify-content-center">
    <p>To view more pages, <%= link_to 'log in', login_path %></p>
  </div>
<% end %>

<% if params[:query].present? && @videos.present? %>
<h3>Video results:</h3>
<ul>
  <% @videos.each do |v| %>
  <li><%= link_to v.name, video_path(v) %></li>
  <% end %>
</ul>
<% end %>
