<h2>Welcome to the Computers for Schools Wiki Site!</h2>
<% if @query %>
  <h3>Search results for "<%= @query %>"</h3>
<% elsif @pages.present? %>
  <h3>Latest updates:</h3>
<% else %>
  <h3>There are currently no wikis published... <%= link_to 'Create one!', new_page_path %></h3>
<% end %>

<div id="pages_container">
  <div id="pages">
    <%= render @pages %>
  </div>
</div>

<div id="paginator">
  <%= paginate @pages, remote: true %>
</div>  


<% if params[:query].present? && @videos.present? %>
<h3>Video results:</h3>
<ul>
  <% @videos.each do |v| %>
  <li><%= link_to v.name, video_path(v) %></li>
  <% end %>
</ul>
<% end %>

<%= render 'snackbar' %>

