<h2>Welcome to the Computers for Schools Wiki Site!</h2>
<% if @query %>
  <h3>Search results for "<%= @query %>"</h3>
<% else %>
  <h3>Latest updates:</h3>
<% end %>


<% @pages.each do |p| %>
<% p.content = ActionController::Base.helpers.strip_tags(p.content) %>
<%= link_to page_path(p) do %>
  <div class="card_exterior">
    <div class="card">
      <div class="cardview_container">
				<%= image_tag("#{p.image.preview.url}") %>
        <h3><%= p.title %></h3>
        <% if p.description.present? %>
          <p><%= p.description %></p>
        <% else %>
          <p>No description provided.</p>
        <%#= sanitize preview(p) %>
        <% end %>
        <i>by <%= p.user.username %></i>
      
      </div>
    </div>
  <% end %>
  </div>
<% end %>

<% if flash[:notice].present? %>
  <script>
  window.onload = function myFunction() {
    var snackbar = document.getElementById("snackbar");
    snackbar.className = "show";
    setTimeout(function(){ snackbar.className = snackbar.className.replace("show", ""); }, 3000);
  }
  </script>
<% end %>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= key %> | <%= value %></div>
<% end %>

<div id="snackbar"><%= flash[:notice] %></div>

<script>

</script>