<p id="notice"><%= notice %></p>
<div id="wiki_header" class="d-flex">
  <h3 class="align-self-end"><%= @page.title %></h3>
  <div class="d-flex flex-column ml-auto">
    <small class="text-muted align-self-end ml-auto">Created by: <%= @page.user.fullname %> on <%= @page.created_at.strftime("%B %-d, %Y at %l:%M %p") %></small>
    <small class="ml-auto"><%= link_to 'Edit', edit_page_path(@page) %></small>
  </div>
</div>
<hr>

<div id="show_container">
  <div class="note-editor"><%= raw @page.content %></div>
</div>
<hr>
<p class="ml-5">
  <strong>Category:</strong>
  <%= @page.category.name %>
</p>

<div class="row">
<div class="col-2"></div>
<div class="col-8">
<%= form_for @page, html: { class: 'ml-5' } do |f| %>
  <div class="form-group">
    <%= f.select :approval_status_id, @statuses.map { |a| [ a.status, a.id ] }, { }, { class: 'form-control' } %>
  </div>
  <div id="page_comments" class="form-group hidden">
    <%= f.label :comments %>
    <%= f.text_area :comments, class: 'form-control' %>
    <small class="text-muted">Enter a reason for the rejection. ie 'Duplicate wiki', 'Be more descriptive when describing cataloguing workflows'</small>
  </div>
  <div class="form-group">
    <%= f.submit 'Update', class: 'btn btn-primary' %>
    <%= link_to 'Back', review_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
</div>
<div class="col-2"></div>
</div><!--row-->

<script>
$('#page_approval_status_id').change(function() {
  $('#page_comments').hide()
  if ($(this).val() == 4) {
    $('#page_comments').show()
  }
})
</script>
