
<%= render plain: params[:page].inspect %>

<h1><%= raw sanitize @page.title%></h1>
<p><%= raw sanitize @page.content %></p>
<%= link_to "Edit", edit_page_path %>

<!-- Only a supervisor or ED can review a page. A supervisor cannot review a page they created. -->
<% if (current_user.user_level_id != INTERN_VALUE) && (current_user.id != @page.user_id) %>

	<%= form_for @page do |f| %>
		<div>
				<%= hidden_field(:page, :title, value: @page.title) %>
				<%= hidden_field(:page, :content, value: @page.content) %>
				<%= hidden_field(:page, :category_id, value: 1) %>
		</div>
		<%= f.label :approval_status_id %>
		<%= collection_select :page, :approval_status_id, ApprovalStatus.order(:status).where.not(id: EXECUTIVE_VALUE), :id, :status, prompt: true %>
		<div>
		<%= f.submit "Submit Status" %>
		</div>
	<% end %>

	<% if current_user.user_level_id == EXECUTIVE_VALUE && @page.approval_status_id == SUPERVISOR_VALUE %>
		<%= form_for @page do |f| %>
			<div>
				<%= hidden_field(:page, :title, value: @page.title) %>
				<%= hidden_field(:page, :content, value: @page.content) %>
				<%= hidden_field(:page, :category_id, value: 1) %>
				<%= hidden_field(:page, :approval_status_id, value: EXECUTIVE_VALUE) %>
			</div>
			<%= f.submit "Executive Approve"%>
		<% end %>
	<% end %>

<% end %>



