<p id="notice"><%= notice %></p>

<h3>Unpublished Wikis</h3>
<hr>
<div class="row">
<div class="col-6">
  <%= form_for unpublished_path, method: :get do |f| %>
    <div class="form-group float-left">
      <%= f.text_field :q, class: 'form-control' %>
    </div>
    <div class="form-group float-left ml-2">
      <%= f.submit 'Search', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div><!--col-4-->
<div class="col-6"></div>
</div><!--row-->
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Author</th>
      <th>Last Updated</th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |p| %>
      <tr>
        <td><%= link_to p.title, page_path(p) %></td>
        <td><%= p.category.name %></td>
        <td><%= p.user.fullname %></td>
        <td><%= p.updated_at.strftime("%b %e, %Y %H:%M:%S") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @pages %>

<%= link_to 'Back', wiki_management_path, class: 'btn btn-secondary' %>