<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>A wiki has been approved by <%= @page.approved_by.fullname %>. <a href="<%= url_for(host: "http://#{@settings.server_ip}", controller: 'pages', action: 'review_wiki', id: @page.id)  %>">Click here to review it</a></p>
    <h3><%= @page.title %></h3>
    <p>Category: <%= @page.category.name %></p>
    <p><%= @page.get_preview %></p>
  </body>
  </html>