<h1>Categories</h1>

<% if @root_categories.nil? %>
  <h3>There are currently no categories.</h3>
<% else %>
  <ul class="category_ul">
    <% @root_categories.each do |r| %>
      <li>
        <%= r.name %><%= link_to "Move Up", categories_move_up_path(r)%><%= link_to "Move Down", categories_move_down_path(r)%>
				<%= link_to "Delete", category_path(r), method: :delete, data: { confirm: "Delete #{r.name}? All child categories will be deleted as well."}%>
      </li>
      <% @sub_categories.each do |s| %>
        <% if r.id == s.category_id %>
          <ul>
            <li>
              <%= s.name %><%= link_to "Move Up", categories_move_up_path(s)%><%= link_to "Move Down", categories_move_down_path(s)%>
            </li>
            <% @sub_categories.each do |t| %>
              <% if s.id == t.category_id %>
                <ul>
                  <li>
                    <%= t.name %>
                  </li>
                  <% @sub_categories.each do |u| %>
                    <% if t.id == u.category_id %>
                      <ul>
                        <li>
                          <%= u.name %>
                        </li>
                      </ul>
                    <% end %>
                  <% end %>
                </ul>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% end %>

<%= link_to 'Create New Category', new_category_path %>
<a href="javascript:history.back()">Back</a>

<h2>Third-party Licences</h2>
<ul>
<% Gem.loaded_specs.each do |name, spec| %>%

	<li><%=name%>% <%= spec.license %></li>
<% end %>
</ul>
