<h3>Categories</h3>
<hr>
<div class="row mx-auto">
<% if @root_categories.nil? %>
  <h3>There are currently no categories. <%= link_to 'Create one', new_category_path %></h3>
<% else %>
  <ul class="list-group w-50 mx-auto">
    <% @root_categories.each do |r| %>
        <%= render partial: 'category', locals: { category: r, parent: true } %>
      <% @sub_categories.each do |s| %>
        <% if r.id == s.category_id %>
          <ul class="list-group pl-4">
            <%= render partial: 'category', locals: { category: s, parent: true } %>
            <% @sub_categories.each do |t| %>
              <% if s.id == t.category_id %>
                <ul class="list-group pl-4">
                  <%= render partial: 'category', locals: { category: t, parent: true } %>
                  <% @sub_categories.each do |u| %>
                    <% if t.id == u.category_id %>
                      <ul class="list-group pl-4">
                        <%= render partial: 'category', locals: { category: u, parent: true } %>
                        <% @sub_categories.each do |v| %>
                          <% if u.id == v.category_id %>
                            <ul class="list-group pl-4">
                              <%= render partial: 'category', locals: { category: v, parent: false } %>
                            </ul>
                          <% end %>
                        <% end %>
                      </ul>
                    <% end %>
                  <% end %>
                </ul>
              <% end %>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% end %>
</div><!--row-->

<div class="mt-4">
  <%= link_to 'New', new_category_path, class: 'btn btn-primary' %>
  <a class="btn btn-secondary" href="javascript:history.back()">Back</a>
</div>
<%= render 'snackbar' %>
