		<ul class='root_categories'>
			<% @root_categories.each do |r| %>
        <p class='gen1'><%= r.name %> <box-icon style='margin-right:4px; margin-top:4px; float:left;' size='24px' name='folder'></box-icon><%= is_form ? (radio_button :page, :category_id, r.id) : '' %></p>
				<li class='gen1_list'>
					
            
						<% @sub_categories.each do |s| %>
							<% if r.id == s.category_id %>
								<ul>
                  <p class='gen2'><%= s.name %> <box-icon style='margin-right:4px; margin-top:4px; float:left;' size='24px' name='folder'></box-icon><%= is_form ? (radio_button :page, :category_id, s.id) : '' %></p>
									<li class='gen2_list'>
											<% if !is_form %>
												<% pages_of_type = @menu_pages.where("category_id = :category AND page_publish_status_id = :publish", category: s.id, publish: PUBLISHED) %>
												<% pages_of_type.each do |pot| %>
													<li>
														<%= link_to pot.title, pot %><box-icon style='margin-right:4px; margin-top:2px; float:left;' size='24px' name='file'></box-icon>
													</li>
												<% end %>
											<% end %>

									<% @sub_categories.each do |t| %>
										<% if s.id == t.category_id %>
											<ul>
                        <p class='gen3'><%= t.name %> <box-icon style='margin-right:4px; margin-top:4px; float:left;' size='24px' name='folder'></box-icon><%= is_form ? (radio_button :page, :category_id, t.id) : '' %></p>
												<li class='gen3_list'>
													<% if !is_form %>
														<% pages_of_type = @menu_pages.where("category_id = :category AND page_publish_status_id = :publish", category: t.id, publish: PUBLISHED) %>
														<% pages_of_type.each do |pot| %>
															<li>
																<%= link_to pot.title, pot %><box-icon style='margin-right:4px; margin-top:2px; float:left;' size='24px' name='file'></box-icon>
															</li>
														<% end %>
													<% end %>
													<% @sub_categories.each do |u| %>
														<% if t.id == u.category_id %>
															<ul>
                                <p class='gen4'><%= u.name %> <box-icon style='margin-right:4px; margin-top:4px; float:left;' size='24px' name='folder'></box-icon><%= is_form ? (radio_button :page, :category_id, u.id) : '' %></p>
																<li class='gen4_list'>
																	<% if !is_form %>
																		<% pages_of_type = @menu_pages.where("category_id = :category AND page_publish_status_id = :publish", category: u.id, publish: PUBLISHED) %>
																		<% pages_of_type.each do |pot| %>
																			<li>
																				<%= link_to pot.title, pot %><box-icon style='margin-right:4px; margin-top:2px; float:left;' size='24px' name='file'></box-icon>
																			</li>
																		<% end %>
																	<% end %>
																	<% @sub_categories.each do |v| %>
																		<% if u.id == v.category_id %>
																			<ul>
																				<p class="gen5"><%= v.name %> <box-icon style='margin-right:4px; margin-top:4px; float:left;' size='24px' name='folder'></box-icon><%= is_form ? (radio_button :page, :category_id, v.id) : '' %></p>
																				<li class="gen5_list">
																					<% if !is_form %>
																						<% pages_of_type = @menu_pages.where("category_id = :category AND page_publish_status_id = :publish", category: v.id, publish: PUBLISHED) %>
																						<% pages_of_type.each do |pot| %>
																							<li>
																								<%= link_to pot.title, pot %><box-icon style='margin-right:4px; margin-top:2px; float:left;' size='24px' name='file'></box-icon>
																							</li>
																						<% end %>
																					<% end %>
																				</li>
																			</ul>
																		<% end %>
																	<% end %>
																</li>
															</ul>
														<% end %>
													<% end %>
												</li>
											</ul>
										<% end %>
									<% end %>
									</li>
								</ul>
							<% end %>
						<% end %>
						<% pages_of_type = @menu_pages.where("category_id = :category AND page_publish_status_id = :publish", category: r.id, publish: PUBLISHED)%>
						<% if !is_form %>
            <ul class="root_pages">
            <% pages_of_type.each do |pot| %>
              <li>
                <%= link_to pot.title, pot %><box-icon style='margin-right:4px; margin-top:4px; float:left;' size='24px' name='file'>
              </li>
            <% end %>
            </ul>
						<% end %>
				</li>
			<% end %>
		</ul>
