<style>
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  /* background-color: #202020; */
  background-color: #2e2e2e;
  overflow-x: hidden;
  transition: 0.3s;
}


.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
</style>
    <!-- Sidebar -->
    <nav class="sidebar text-light">
        <div class="sidebar-header p-3">
            <h4 class="py-3"><%= Setting.first.logo %></h4>
        </div>
        <div class="d-block d-md-none px-3">
          <%= render 'layouts/search' %>
        </div>
        <div id="category_menu" class="px-3">
          <h5>Actions</h5>
          <hr class="bg-white" />
          <ul class="root_categories">
            <p class="p-0 m-0 side-menu-item-hover"><%= link_to 'Home', root_path, class: 'side-menu-link' %><box-icon color='#f0b57e' class="mr-2 float-left side-menu-icon" size="20px" type='solid' name='home'></box-icon></p>
          	<% if current_user.present? %>
              <p class="p-0 m-0 side-menu-item-hover"><%= link_to 'New Wiki', new_page_path, class: 'side-menu-link' %><box-icon color='#f0b57e' class="mr-2 float-left side-menu-icon" size="20px" type='solid' name='zap'></box-icon></p>
              <p class="user-category gen1 p-0 side-menu-item-hover"><span class="side-menu-folder"><%= current_user.fullname %></span><box-icon color='#83b0e1' style='margin-top:0.2rem;' class='mr-2 float-left' size='20px' name='user' type='solid'></box-icon><box-icon class='chevron' size='16px' color='#E8E8E8' name='caret-down'></box-icon></p>
              <ul class="root_pages">
                <% if current_user.user_level.id > INTERN_VALUE %>
                  <p class="gen1 side-menu-item-hover"><span class="side-menu-folder">Admin</span><box-icon color='#83b0e1' class='mr-2 float-left side-menu-icon' size='20px' name='lock-open'></box-icon></p>
                  <li class="gen1_list">
                    <ul>
                    <box-icon color='#f0b57e' name='home' class='mr-2 side-menu-icon' size='20px'></box-icon><%= link_to 'Home', admin_path, class: 'side-menu-link' %>
                    <li class='side-menu-item-hover'><%= link_to 'Wiki Review', wiki_management_path, class: 'side-menu-link' %><box-icon color='#f0b57e' class="mr-2 float-left side-menu-icon" size="20px" name='select-multiple'></box-icon></li>
                    <li class='side-menu-item-hover'><%= link_to 'Category Settings', categories_path, class: 'side-menu-link' %><box-icon color='#f0b57e' class="mr-2 float-left side-menu-icon" size="20px" name='customize'></box-icon></li>
                    <li class='side-menu-item-hover'><%= link_to 'User Management', users_path, class: 'side-menu-link' %><box-icon color='#f0b57e' class="mr-2 float-left side-menu-icon" size="20px" name='group'></box-icon></li>
                    <li class='side-menu-item-hover'><%= link_to 'PDFs', pdfs_path, class: 'side-menu-link' %><box-icon color='#f0b57e' class="mr-2 float-left side-menu-icon" size="20px" type='solid' name='file-pdf'></box-icon></li>
                    <li class='side-menu-item-hover'><%= link_to 'Images', images_path, class: 'side-menu-link' %><box-icon color='#f0b57e' class="mr-2 float-left side-menu-icon" size="20px" name='images'></box-icon></li>
                    <li class='side-menu-item-hover'><%= link_to 'Videos', videos_path, class: 'side-menu-link' %><box-icon color='#f0b57e' class="mr-2 float-left side-menu-icon" size="20px" type='solid' name='videos'></box-icon></li>
                    </ul>
                  </li>
                <% end %>
                <li><%= link_to 'Change Password', new_password_path, class: 'side-menu-link side-menu-item-hover' %><box-icon color='#f0b57e' class='mr-2 float-left side-menu-icon' size='20px' name='pencil'></box-icon></li>
                <li><%= link_to 'Logout', logout_path, class: 'side-menu-link side-menu-item-hover' %><box-icon color='#f0b57e' class='mr-2 float-left side-menu-icon' size='20px' name='log-out-circle' ></box-icon></li>
              </ul>
              <% else %>
              <p class="user-category m-0 p-0 side-menu-item-hover"><span><%= link_to 'Login', login_path, class: 'side-menu-link' %></span><box-icon color='#83b0e1' style='margin-top:0.2rem;' class='mr-2 float-left' size='20px' name='log-in-circle' type='solid'></box-icon></p>
              <p class="user-category m-0 p-0 side-menu-item-hover"><span><%= link_to 'Sign up', register_intern_path, class: 'side-menu-link' %></span><box-icon color='#83b0e1' style='margin-top:0.2rem;' class='mr-2 float-left' size='20px' name='user-plus' type='solid'></box-icon></p>
            <% end %>
          </ul><!--root_categories-->
          <h5>Wikis</h5>
          <hr class="bg-white" />
          <%= render partial: 'category_select', locals: { is_form: false } %>
        </div>
    </nav>


<script>

</script>
