
<%= form_for @draft, validate: true do |f| %>
  <div class="errors">
  <% if @draft.present? && @draft.errors.any? %>
    <p><%= pluralize(@draft.errors.count, "error") %> prevented this wiki from being saved:</p>
    <ul>
    <% @draft.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
  </div>

  <%= hidden_field(:draft, :approval_status_id, value: PENDING) %>
  <%= hidden_field(:page, :id, value: @page.id) %>
  <%= hidden_field(:draft, :user_id, value: current_user.id) %>
  <%= hidden_field(:draft, :page_id, value: @page.id) %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', data: { title: @page.title } %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control' %>
    <small class="text-muted">A short description of your changes. Eg. 'Added gparted installation section'.</small>
  </div>
  <div class="form-group">
    <%= f.label :category %>
    <%= f.select :category_id, Category.all.map { |c| [ c.name, c.id ] }, { selected: @page.category_id }, { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.text_area :content, id: :summernote, data: { content: params[:action]['new'] ? @page.content : '' } %>
  </div>
  <div class="form-group">
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>

  <%= render 'images/image_select' %>
