<h5>Editing Draft for <i><%= @page.title %></i></h5>
<hr>
<% if @draft.comments.present? %>
<p>Supervisor comments</p>
<div class="alert alert-warning" role="alert">
  <%= @draft.comments %>
</div>
<% end %>
<%= render 'form', draft: @draft %>

<%= link_to 'Show', @draft %> |
<%= link_to 'Back', drafts_path %>
