<p id="notice"><%= notice %></p>

<h3>Drafts</h3>
<hr>
<div class="row">
<div class="col-6">
  <%= form_for drafts_path, method: :get, remote: true do |f| %>
    <div class="form-group float-left">
      <%= f.text_field :q, class: 'form-control' %>
    </div>
    <div class="form-group float-left ml-2">
      <%= f.submit 'Search', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div><!--col-4-->
<div class="col-6"></div>
</div><!--row-->
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Author</th>
      <th>Last Updated</th>
      <th>Approval status</th>
    </tr>
  </thead>

  <tbody>
    <%= render @drafts %>
  </tbody>
</table>

<%= link_to 'Back', wiki_management_path, class: 'btn btn-secondary' %>
