<p id="notice"><%= notice %></p>

<h3>Drafts</h3>
<hr>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Category</th>
      <th>Action</th>
      <th>Approval status</th>
    </tr>
  </thead>

  <tbody>
    <% @drafts.each do |draft| %>
      <tr>
        <td><%= draft.title %></td>
        <td><%= draft.category.name %></td>
        <td><%= link_to 'View', draft_path(draft), class: 'btn btn-secondary btn-sm' %></td>
        <td>
          <%= draft.approval_status.status %>
          <% if draft.approval_status_id == REJECTED %>
            <%= link_to draft, method: :delete, data: { confirm: 'Are you sure?' } do %><box-icon name='trash' type='solid' color='#f80000' ></box-icon><% end %>
          <% end %>  
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

