<p id="notice"><%= notice %></p>
<div id="wiki_header" class="d-flex">
  <h3 class="align-self-end"><%= @draft.title %></h3>
  <div class="d-flex flex-column ml-auto">
    <small class="text-muted align-self-end ml-auto">Created by: <%= @draft.user.fullname %> on <%= @draft.created_at.strftime("%B %-d, %Y at %l:%M %p") %></small>
    <small class="ml-auto"><%= link_to 'Edit', edit_draft_path(@draft) %></small>
  </div>
</div>
<hr>

<div id="show_container">
  <div class="note-editor"><%= raw @draft.content %></div>
</div>
<hr>
<p class="ml-5">
  <strong>Category:</strong>
  <%= @draft.category.name %>
</p>

<%= form_for @draft, html: { class: 'ml-5' } do |f| %>
  <div class="form-group">
    <%= f.select :approval_status_id, @statuses.map { |a| [ a.status, a.id ] }, { }, { class: 'form-control w-50' } %>
  </div>
  <div class="form-group">
    <%= f.submit 'Update', class: 'btn btn-primary' %>
    <%= link_to 'Back', drafts_path, class: 'btn btn-secondary' %>
  </div>
  <%= hidden_field(:draft, :page_id, value: @draft.page.id) %>
<% end %>