<head>
  <style>
    <%= Diffy::CSS %>

    /* #middle_content {
      width: 100%;
    } */
  </style>
</head>
<p id="notice"><%= notice %></p>
<div id="wiki_header" class="d-flex">
  <div class="align-self-end">
    <% if @draft.title != @page.title %>
      <div class="alert alert-warning"><box-icon name='error' ></box-icon> <span class="font-weight-bold p-2">Title has changed!</span></div>
      <div class="diff font-weight-bold">
        <ul>
            <li class="del" style="font-size:22px;"><del><span class="symbol">-</span><%= @page.title %></del></li>
            <li class="ins" style="font-size:22px;"><del><span class="symbol">+</span><%= @draft.title %></del></li>
        </ul>
      </div>
    <% else %>
      <h3><%= @draft.title %></h3>
    <% end %>
  </div>
  <div class="d-flex flex-column ml-auto">
    <small class="text-muted align-self-end ml-auto">Created by: <%= @draft.user.fullname %> on <%= @draft.created_at.strftime("%B %-d, %Y at %l:%M %p") %></small>
    <small class="ml-auto"><%= link_to 'Edit', edit_draft_path(@draft) %> | <a href="javascript:void(0)" id="btn_expand" class="ml-auto">Expand</a></small>
  </div>
</div>
<hr>

<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <h3>Original</h3>
      <div class="note-editor"><%= raw @page.content %></div>
    </div><!--col-6-->
    <div class="col-6">
      <h3>New Draft</h3>
      <div class="note-editor"><%= raw @draft.content %></div>
    </div><!--col-6-->
  </div><!--row-->
  <div class="row">
    <h3>Text Difference</h3>
    <%= raw Diffy::Diff.new(@page_string, @draft_string, :include_plus_and_minus_in_html => true, :context => 0).to_s(:html_simple) %>
    <div id="diff_report"></div>
  </div>
</div>
<hr>
<p class="ml-5">
  <strong>Description:</strong>
  <%= @draft.description %>
</p>
<p class="ml-5">
  <strong>Category:</strong>
  <%= @draft.category.name %>
</p>

<div class="row">
<div class="col-2"></div>
<div class="col-8">
<%= form_for @draft, html: { class: 'ml-5' } do |f| %>
  <div class="form-group">
    <%= f.select :approval_status_id, @statuses.map { |a| [ a.status, a.id ] }, { }, { class: 'form-control' } %>
  </div>
  <div id="draft_comments" class="form-group hidden">
    <%= f.label :comments %>
    <%= f.text_area :comments, class: 'form-control' %>
    <small class="text-muted">Enter a reason for the rejection. ie 'Duplicate wiki', 'Be more descriptive when describing cataloguing workflows'</small>
  </div>
  <div class="form-group">
    <%= f.submit 'Update', class: 'btn btn-primary' %>
    <%= link_to 'Back', drafts_path, class: 'btn btn-secondary' %>
  </div>
  <%= hidden_field(:draft, :page_id, value: @draft.page.id) %>
<% end %>
</div>
<div class="col-2"></div>
</div><!--row-->

<script>
$('#draft_approval_status_id').change(function() {
  $('#draft_comments').hide()
  if ($(this).val() == 4) {
    $('#draft_comments').show()
  }
})
</script>
