<%= form_for @image, validate: true, remote: true do |f| %>

<div class="errors">
<% if @image.present? && @image.errors.any? %>
	<p><%= pluralize(@image.errors.count, "error") %> prevented this image from being saved:</p>
	<ul>
	<% @image.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
	</ul>
<% end %>
</div>

  <div class="form-group">
		<%= f.label 'Name' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <% if current_page?(action: 'new') %>
	<div class="form-group">
		<%= f.label :path %>
    <%= f.file_field :path, class: 'form-control-file' %>
  </div>
  <div class="form-group">
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>
  <% else %>
  <div class="form-group">
    <%= f.submit 'Update', class: 'btn btn-primary' %>
    <%= link_to 'Back', images_path, class: 'btn btn-secondary' %>
  </div>
  <% end %>
<% end %>

<script>
$('#new_image').submit(function () {
    let name = $.trim($('#image_name').val())

    if (name.length < 1) {
        $('#image_name').addClass('is-invalid')
        event.preventDefault();
    }
})
</script>
