<div id="image_search">
  <%= simple_form_for new_page_path, method: :get, remote: true do |f| %>
		<%= f.text_field :imageq, class: 'form-control w-50' %>
		<%= f.submit 'Search', class: 'btn btn-primary btn-sm mx-1'  %>
        <%= link_to 'Upload', new_image_path, remote: true, class: 'btn btn-info btn-sm', style: 'padding: 0.375rem 0.75rem !important;' %>
	<% end %>
	<div id="images">
		<%= render @images %>
	</div>
</div>