<% if @images.present? %>
<div class="images-top">
    <h3>Images</h3>
    <%= link_to 'New', new_image_path, class: 'btn btn-success my-2' %>
</div>
<hr>
<% else %>
<h2>There are no images here... <%= link_to 'Upload one!', new_image_path %></h2>
<% end %>

<div class="d-flex flex-wrap">
  <% @images.each do |image| %>
    
    <% if image.path.present? %>
      <%= link_to image_path(image) do %>
        <div class="m-2 border">
          <%=image_tag(image.path.video.url)%>
        </div>
        <p class="pl-2 text-body"><%= image.name %></p>
      <% end %>
    <% elsif image.video_path.present? %>
      <%= link_to image_path(image) do %>
        <div class="m-2 border">
          <%=image_tag(image.video_path.video.url)%>
        </div>
        <p class="pl-2"><%= image.name %></p>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= paginate @images %>
<%= link_to 'Back', admin_path, class: 'btn btn-secondary' %>
