<% if @image.name.present? %>
  <h2><%= @image.name %></h2>
<% end %>

<% if @image.path.present? %>
  <%= image_tag(@image.path.show.url) %>
<% else %>
  <%= image_tag(@image.video_path.url) %>
<% end %>
<div class="mt-2">

<%= link_to 'Full resolution', @image.path.url, target: '_blank', class: 'btn btn-warning' %>
<%= link_to 'Back', images_path, class: 'btn btn-secondary' %>
<div class="dropdown show float-right">
  <a class="btn btn-danger dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Delete
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <%= link_to 'Delete', image_path(@image), method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item' %>
  </div>
</div>
</div>