<!DOCTYPE html>
<html>
  <head>
    <title>c4smb Wiki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Acme&display=swap" %>
    <script>
      function load() {
        var model_lists = document.getElementsByClassName("model_list");
        var make_links = document.getElementsByClassName("makes");

        for (let i=0; i < make_links.length; i++) {
          model_lists[i].style.display = "none";
        }
        
        for (let i=0; i < make_links.length; i++) {
          make_links[i].addEventListener("click", function() { hide_models(model_lists[i]); }, false);
        }
      }

      function hide_models(element) {
        var setStyle = element.style.display === "block" ? "none" : "block";
        element.style.display = setStyle;
      }

      document.addEventListener("DOMContentLoaded", load, false);
    </script>
  </head>

  <body>

  <div class="container">

       <p class="alert margin_fix"><%= alert %></p>
    <div class="header_container">

    <p id="snackbar" class="notice"><%= notice %></p>
    <% if notice %>
      
    <script type="text/javascript">

      $(window).load(function () {
        var snackbarContainer = document.getElementById('snackbar');
        snackbarContainer.className = "show";
        setTimeout(function(){ snackbarContainer.className = snackbarContainer.className.replace("show", ""); }, 3000);
      });


    </script>
    <% end %>
      <%= link_to root_path do %>
      <div class="logo"></div>
      <h2 class="wiki_logo">wiki</h2>
      <% end %>
      <div class="header_nav">
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li>News</li>
          <li>MSDS</li>
          <li>Resource Centre</li>
          <% if authorize_access %>
          <li><%= link_to 'User Managment', users_path %></li>
          <li><%= link_to 'Wiki Review', review_path %></li>
          <% end %>
        </ul>
      </div>
      <div class="user_login">
      <% if current_user %>
      <ul>
        <li>Logged in as <%= current_user.username %></li>
        <li>User Level: <%= current_user.user_level.level %></li>
        <li><%= current_user.last_login.strftime("Last login: %B %-d, %Y at %l:%M %p") %></li>
        <li><%= link_to 'Logout', logout_path %></li>
      </ul>
      <% else %>
      <p>
        <%= link_to 'Admin portal', login_path, class: 'btn btn-primary btn-lg' %>
      </p>
      <p>
        <%= link_to 'New Wiki', new_page_path %>
      </p>
      <% end %>
    </div>
    </div>
    <div id="side_panel">
    <div class="side_panel_container">
    <ul>
    <% @page_types.each do |pt| %>
      <li>
        <%= pt.name %>
        <% pages_of_type = @pages.where("page_type_id = ? AND approval_status_id = ?", pt.id, EXECUTIVE_VALUE)%>
        <ul>
        <% pages_of_type.each do |pof| %>
          <li>
          <%= pof.title %>
          </li>
        <% end %>
        </ul>
      </li>
    <% end %>
    </ul>
    <!--<h3><a href="#">Production</a></h3>
      <ul class="make_list">
        <% @makes.each do |make| %>
          <li>
            <a href="#" class="makes"><%= make.name%></a>
            <div class="model_list">
            <ul>
              <% make.models.each do |model| %>
              <li class="model_item">
                <a href="#"><%= model.name %></a>
              </li>
              <% end %>
            </ul>
            </div>
          </li>
        <% end %>
      </ul> -->
      </div>
    </div>
    <div class="middle_content">
      <%= yield %>
    </div>
    <footer>
     <ul class="footer_info">
      <li class="footer_info_lastmod">Last modified by smireault 18:30 Tuesday, November 12, 2019</li>
      <li class="footer_info_copyright">Copywrong Computers for Schools Manitoba 2019</li>
     </ul>
    </footer>
  </div>

  
    
  </body>
</html>
