<!DOCTYPE html>
<html>
  <head>
    <title>c4smb Wiki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Acme&display=swap" %>
    <%= stylesheet_link_tag "https://cdn.quilljs.com/1.3.6/quill.snow.css"%>
    <script>
      function load() {

      

      function display() {
        
        var children = this.children;

        for (var i = 0; i < children.length; i++) {
          var child = children[i];

          if (child.style.display === "none") {
            child.style.display = "block";
          } else {
            child.style.display = "none";
          }
          
        }

      }


      var $ = function (selector) {
        return document.querySelector(selector);
      };

      var links = $('#root_categories').getElementsByTagName('li');

      // For each <li> inside #links
      for (var i = 0; i < links.length; i++) {
        var link = links[i];
        link.onclick = display;
      }
    }

    document.addEventListener("DOMContentLoaded", load, false);
    </script>
  </head>

  <body>

  <div class="container">

       <p class="alert margin_fix"><%= alert %></p>
    <div class="header_container">

    <p id="snackbar" class="notice"><%= notice %></p>
    <% if notice %>
      
    <script type="text/javascript">

      $(window).load(function () {
        var snackbarContainer = document.getElementById('snackbar');
        snackbarContainer.className = "show";
        setTimeout(function(){ snackbarContainer.className = snackbarContainer.className.replace("show", ""); }, 3000);
      });

     


    </script>
    <% end %>
      <%= link_to root_path do %>
      <div class="logo"></div>
      <h2 class="wiki_logo">wiki</h2>
      <% end %>
      <div class="header_nav">
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li>News</li>
          <li>MSDS</li>
          <li>Resource Centre</li>
          <% if authorize_access %>
          <li><%= link_to 'User Managment', users_path %></li>
          <li><%= link_to 'Wiki Review', review_path %></li>
          <% end %>
        </ul>
      </div>
      <div class="user_login">
      <% if current_user %>
      <ul>
        <li>Logged in as <%= current_user.username %></li>
        <li>User Level: <%= current_user.user_level.level %></li>
        <li><%= current_user.last_login.strftime("Last login: %B %-d, %Y at %l:%M %p") %></li>
        <li><%= link_to 'Logout', logout_path %></li>
      </ul>
      <% else %>
      <p>
        <%= link_to 'Admin portal', login_path, class: 'btn btn-primary btn-lg' %>
      </p>
      <p>
        <%= link_to 'New Wiki', new_page_path %>
      </p>
      <% end %>
    </div>
    </div>
    <div id="side_panel">
    <div class="side_panel_container">
      <ul id="root_categories">
      <% @root_categories.each do |r| %>
        <li>
          <%= r.name %>
            <% pages_of_type = @pages.where("category_id = ? AND approval_status_id = ?", r.id, EXECUTIVE_VALUE)%>
            <ul id="root_pages">
            <% pages_of_type.each do |pot| %>
              <li>
                <%= link_to pot.title, pot %>
              </li>
            <% end %>
            </ul>
        </li>
        <% @sub_categories.each do |s| %>
          <% if r.id == s.category_id %>
            <ul>
              <li>
                <%= s.name %>
                <% pages_of_type = @pages.where("category_id = ? AND approval_status_id = ?", s.id, EXECUTIVE_VALUE)%>
                  <ul>
                  <% pages_of_type.each do |pot| %>
                    <li>
                      <%= link_to pot.title, pot %>
                    </li>
                  <% end %>
                  </ul>
              </li>
              <% @sub_categories.each do |t| %>
                <% if s.id == t.category_id %>
                  <ul>
                    <li>
                      <%= t.name %>
                      <% pages_of_type = @pages.where("category_id = ? AND approval_status_id = ?", t.id, EXECUTIVE_VALUE)%>
                        <ul>
                        <% pages_of_type.each do |pot| %>
                          <li>
                            <%= link_to pot.title, pot %>
                          </li>
                        <% end %>
                        </ul>
                    </li>
                    <% @sub_categories.each do |u| %>
                      <% if t.id == u.category_id %>
                        <ul>
                          <li>
                            <%= u.name %>
                            <% pages_of_type = @pages.where("category_id = ? AND approval_status_id = ?", u.id, EXECUTIVE_VALUE)%>
                              <ul>
                              <% pages_of_type.each do |pot| %>
                                <li>
                                  <%= link_to pot.title, pot %>
                                </li>
                              <% end %>
                              </ul>
                          </li>
                        </ul>
                      <% end %>
                    <% end %>
                  </ul>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      <% end %>
    </ul>

    <!--<h3><a href="#">Production</a></h3>
      <ul class="make_list">
        <% @makes.each do |make| %>
          <li>
            <a href="#" class="makes"><%= make.name%></a>
            <div class="model_list">
            <ul>
              <% make.models.each do |model| %>
              <li class="model_item">
                <a href="#"><%= model.name %></a>
              </li>
              <% end %>
            </ul>
            </div>
          </li>
        <% end %>
      </ul> -->
      </div>
    </div>
    <div class="middle_content">
      <%= yield %>
    </div>
  </div>
      <footer>
     <ul class="footer_info">
      <li class="footer_info_lastmod">Last modified by smireault 18:30 Tuesday, November 12, 2019</li>
      <li class="footer_info_copyright">Copywrong Computers for Schools Manitoba 2019</li>
     </ul>
    </footer>

  
    
  </body>
</html>
