<!DOCTYPE html>
<html>
  <head>
    <title>c4smb Wiki</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Acme&display=swap" %>
	  <%= javascript_pack_tag 'summernote', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'page', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'draft-show', 'data-turbolinks-track': 'reload' %>
    <script>


    </script>
  </head>

  <body>

  <div class="container-fluid p-0 site-wrapper">

    <div class="header_container row bg-dark">
      <div class="col-md-2 col-lg-4">
        <div class="d-flex flex-column justify-content-center h-100">
          <div id="btn_show_sidebar" style="cursor:pointer;width:60px;">
            <box-icon name='menu' size='60px' color='#d4af37'></box-icon>
          </div>
        </div>
      </div>
      <div class="col-md-8 col-lg-4 d-flex flex-column justify-content-center h-100" style="height:inherit;">
        <div id="" class="my-2 d-none d-md-block">
          <%= render 'layouts/search' %>
        </div>
      </div>
      <div class="col-md-2 col-lg-4 d-flex justify-content-end text-right user_login">
          <% if current_user %>
            <div class="d-flex flex-column justify-content-end">
              <p class="user-category px-3"><span><%= link_to 'Logout', logout_path, class: 'side-menu-link' %></span><box-icon color='#83b0e1' style='margin-top:0.2rem;' class='mr-2 float-left' size='20px' name='log-out'></box-icon></p>
            </div>
          <div class="d-flex flex-column justify-content-end">
            <div class="btn-group">
              <button type="button" class="btn btn-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div id="notification_bell">
                <%= render 'layouts/notification_bell'%>
              </div>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <% if @notifications.present? %>
                  <%= render @notifications %>
                <% end %>
                <div class="dropdown-divider"></div>
                <span class="text-center"><%= link_to 'Clear Notifications', pages_path(clear: 'true'), remote: true, class: 'dropdown-item text-danger' %></span>
              </div>
            </div>

          </div>
          <% else %>
            <div class="d-flex flex-column justify-content-end">
              <p class="user-category px-3"><span><%= link_to 'Login', login_path, class: 'side-menu-link' %></span><box-icon color='#83b0e1' style='margin-top:0.2rem;' class='mr-2 float-left' size='20px' name='log-in'></box-icon></p>
            </div>
          <% end %>
      </div>
    </div>
  </div><!--header_container-->
    <%= render 'side_menu' %>
    <div id="middle_content">
      <% if alert.present? %>
        <div class="alert alert-danger alert-dismissible fade show">
          <%= alert %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% elsif notice.present? %>
        <div class="alert alert-success alert-dismissible fade show">
          <%= notice %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </div>
    <footer>
    <div class="d-flex justify-content-center h-100">
    <div class="d-flex flex-column justify-content-center text-center">
     <ul class="p-0 list-unstyled">
      <li>Random wiki: <%= link_to @random_page.title, @random_page if @random_page.present? %></li>
      <li>Computers for Schools Manitoba <%= Time.now.year %></li>
     </ul>
     </div>
    </div>
    </footer>

    <!---Render search bar modals-->
    <%= render 'category_search_modal' %>
    <%= render 'search_help_modal' %>
  </body>
</html>

<script>
  // const checkNotifications = () => {
  //   fetch("<%= bell_toggle_path %>")
  //     .then(response => response.text())
  //     .then(response => {
  //       document.getElementById("notification_bell").innerHTML = response;
  //     });
  // };

	// setInterval(checkNotifications, 10000);
	
	// document.body.addEventListener('click', function() {
	// 	let menu = document.getElementById("notifications");''
	// 	menu.style.display = 'none';
	// });
</script>
